@font-face {
  font-family: 'Pragmatica';
  src: url('fonts/PragmaticaCond-Bold.woff2') format('woff2'),
    url('fonts/PragmaticaCond-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pragmatica';
  src: url('fonts/pragmatica-cyrillic.woff2') format('woff2'),
    url('fonts/pragmatica-cyrillic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
