body.index {
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Pragmatica', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  p {
    font-family: 'Pragmatica', Helvetica, Arial, sans-serif;
    font-weight: 400;
  }
}
h1 {
  width: 720px;
  height: 60px;
  margin-left: 85px;
  margin-top: 80px;
  font-size: 140px;
}
h2 {
  position: absolute;
  width: 629px;
  height: 130px;
  margin-left: 95px;
  top: 1150px;
  font-size: 80px;
  line-height: 79px;
}
h4 {
  position: absolute;
  width: 629px;
  height: 130px;
  margin-left: 95px;
  top: 3100px;
  font-size: 80px;
  line-height: 79px;
}
.p1 {
  position: absolute;
  width: 800px;
  height: 140px;
  margin-left: 95px;
  top: 317px;
  font-size: 40px;
  line-height: 40px;
}
#rec1 {
  position: absolute;
  width: 210px;
  height: 204px;
  margin-left: 979px;
  top: 104px;
  border: 1.5px;
  border-style: solid;
  border-color: --black;
  border-radius: 10px;
}
